{% extends 'portfolio/base.html' %}
{% load ru_pluralize %}
{% load static %}

{% block content %}
<p style="font-family: 'Montserrat', sans-serif; font-size: 200%;">Блоги</p>
<hr />

<p style="font-family: 'Montserrat', sans-serif; font-size: 100%;">Кос написал {{ blogs_count }} блог{{ blogs.count|ru_pluralize:",а,ов" }}</<p>
<br>
<div class="container">
  <div class="row">
    {% for blog in blogs %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ blog.publish_date|date:'d M Y'|lower }}</h6>
            <p class="card-text">{{ blog.description|safe|truncatechars:100 }}</p>
            <a href="{% url 'blog:detail' blog.id %}" class="card-link">Подробнее...</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<br>
{% endblock%}
