{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<div class="position-relative" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; ">

<div class="card mb-0" style="max-width: 540px;">
  <img src="{% static 'portfolio/HC-5joB9JTs.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" style="text-align: center;">
  <h5 class="card-title">КАТрепалин</h5>
  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  <a href="{% static 'portfolio/KATrepalin.pdf' %}" class="btn btn-primary">Резюме</a>
  </div>
</div>


</div>
<br>
<br>
<br>
<br>
<div class="grid">
  <div class="row">
  {% for project in projects %}
    <div class="col" style="text-align: center;">
      <figure class="figure">
        <h2>{{ project.title }}</h2>
        <a href="{% if project.url %} {{ project.url }} {% endif %}">
          <img src="{{ project.image.url }}" class="figure-img img-fluid rounded" style="object-fit:contain;
            width:480px;
            height:640px;
            border: solid 1px #CCC" alt="...">
        </a>
        <div class="container" style="text-align: center;">
        <figcaption class="figure-caption">{{ project.description }}</figcaption>
        </div>
      </figure>
    </div>
    {% endfor %}
    </div>
</div>
    <br>
{% endblock %}
